<style>
.button {
  display: inline-block;
  border-radius: 4px;
  background-color:  #cc0000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 10px;
  width: 280px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-sizw:bold;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>

<body ng-app="myApp" ng-controller="FriendController" class="ng-cloak">

<!--  -->

<div class="container">
<h2><img src="resources/images/29.jpg" alt="logo" width="60" height="60">&nbsp Friends</h2>
     <img src="resources/images/47.png" alt="logo" width="800"  style="opacity:0.9; box-shadow: 10px 10px 5px #888888;">
</div>
<br><br>

<button class="button" style="vertical-align:middle" ng-click="viewFriendRequset();"><span>Friend Requests &nbsp<span class="badge">{{countfriendrequests}}</span></span></button>

<div class="container">
 
 <div class="col-md-6 col-md-offset-6">
	
			
		
		
		<!-- <div ng-show="temp">
		no request
		</div> -->
			
			<div class="panel-group" ng-show="friendrequest" style="vertical-align:middle">
				<div class="panel panel-default" ng-repeat="user in friendrequest"
					style="margin-top: 40px">

					<div class="panel-body">
					<img ng-src="
					resources/images/{{user.friendId.email}}.jpg "
						class="img-circle"  style="float:left;margin-right:20px" width="80" height="80"
						 onerror="this.src='resources/images/user.jpg'"
						width="80" height="80" id="sm_profilepic" />
						
						<h3>{{user.friendId.username}}</h3>
						<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp&nbsp{{user.friendId.city}}
						
						<div ng-if="user.friendId.gender == 'Male'">
					<i class="fa fa-mars" aria-hidden="true"></i> &nbsp
					{{user.friendId.gender}}
				</div>

				<div ng-if="user.friendId.gender == 'Female'">
					<i class="fa fa-mars" aria-hidden="true"></i> &nbsp
					{{user.friendId.gender}}
					
				</div>
				<hr/>
						<button class="btn btn-success btn-sm" ng-click="acceptFriendRequset(user.friendId.userId);"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp ACCEPT</button>
						
						<button class="btn btn-danger btn-sm pull-right" ng-click="rejectFriendRequset(user.friendId.userId);"><i class="fa fa-user-times" aria-hidden="true"></i>&nbsp REJECT</button>
						
					</div>
				</div>
				
				<hr/>
				
			
			</div>
			
			
			
			<div>
			
				<div class="panel-group" ng-show="friends">
				<div class="panel panel-default" ng-repeat="user in friends"
					style="margin-top: 40px">

					<div ng-if="user.status == 'ACCEPTED'">
					
					<div class="panel-body">
					<img ng-src="
					resources/images/{{user.friendId.email}}.jpg "
						class="img-circle" style="float:left;margin-right:20px" width="120" height="120"
						 onerror="this.src='resources/images/user.jpg'"
						width="120" height="120" id="sm_profilepic" />
						
						<span style="font-size:x-large">{{user.friendId.username}}</span><br>
						<i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp&nbsp{{user.friendId.email}}<br/>
						
						<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp&nbsp{{user.friendId.city}}<br/>
						
						<i class="fa fa-phone" aria-hidden="true"></i>&nbsp&nbsp{{user.friendId.phone}}<br/>
						<i class="fa fa-birthday-cake" aria-hidden="true"></i>&nbsp&nbsp{{user.friendId.dob}}
						
						<div ng-if="user.friendId.gender == 'Male'">
					<i class="fa fa-mars" aria-hidden="true"></i> &nbsp
					{{user.friendId.gender}}
				</div>

				<div ng-if="user.friendId.gender == 'Female'">
					<i class="fa fa-mars" aria-hidden="true"></i> &nbsp
					{{user.friendId.gender}}
					
				</div>
				
												 
						 
					</div>
					
					<div class="panel-footer">
				<a href="http://localhost:9001/whatsapp/talk/friendchat/{{user.friendId.userId}}" class="btn btn-success btn-sm" ng-disabled="!user.online" role="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp SEND MESSAGE</a>
						
				</div>
				</div>
				
			</div>
			</div>
			
			
			</div>
	
</div>
</div>


<!--  -->
<!--  -->
	 <div class="container">
	
		<h2><img ng-src="resources/images/27.png" width="50" height="50">people</h2>
	
	
	
	<div align="center" style="width:829; height:40;" >
   <video class="img-responsive" src="resources/videos/v1.mp4" type="video/mp4" autoplay loop></video>
</div>
	
	
	
	
		
		<img ng-src="resources/images/4.jpg"
						>
 
 <br><br>
		 <div class="col-md-12">
			<div ng-show="status">
				<p class="alert alert-info">
					<b>Success!</b>&nbsp{{status}}<br />
				</p>
			</div>

		<input type="text" class="form-control"
				placeholder="Search for people....." ng-model="searchText">

			<div class="panel-group" ng-show="allusers">
				<div class="panel panel-default"
					ng-repeat="user in allusers | filter:searchText as results"
					style="margin-top: 40px">

					<div class="panel-body">

						<img
							ng-src="
					resources/images/{{user.email}}.jpg "
							class="img-circle" style="float: left; margin-right: 20px"
							width="80" height="80"
							onerror="this.src='resources/images/user.jpg'"
							width="80" height="80" id="sm_profilepic" /> <span
							style="font-size: x-large">{{user.username}}</span><br>
							
							 <i
							class="fa fa-map-marker" aria-hidden="true"></i>&nbsp&nbsp{{user.city}}

						<div ng-if="user.gender == 'Male'">
							<i class="fa fa-mars" aria-hidden="true"></i> {{user.gender}}
						</div>

						<div ng-if="user.gender == 'Female'">
							<i class="fa fa-venus" aria-hidden="true"></i> {{user.gender}}

						</div>
						<hr />
						
						<div ng-if="( user.isFriend != 'ACCEPTED' && user.isFriend != 'NEW' )">
						
						<button class="btn btn-success btn-sm" 
								ng-click="sendFriendRequset(user.userId)">
								<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp Send Request
							</button>
						</div>
						
						<div ng-if="( user.isFriend == 'NEW' )">
						
						<button class="btn btn-success btn-sm" 
								ng-click="removeFriendRequset(user.userId)">
								<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp Undo Request
							</button>
						</div>
						
						<div ng-if="( user.isFriend == 'ACCEPTED' )">
						
						<button class="btn btn-success btn-sm" 
								ng-click="removeFriendRequset(user.userId)">
								<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp Remove Request
							</button>
						</div>
						
						
					</div>
				</div>
				
  
				<!-- if no result is found -->
				<div ng-if="results.length === 0" style="margin-top: 20px">

					<span class="alert alert-info"> <i class="fa fa-info-circle"
						aria-hidden="true"></i>&nbspNo results found...
					</span>

				</div>
			</div>

		</div>
	</div>
 

	
</body>