<body ng-app="myApp" class="ng-cloak">
	<div class="generic-container" ng-controller="UserController as ctrl">
		<div ng-hide='ctrl.user.errorMessage=="" '>
			<div class="alert alert-danger fade in">Error:{{ctrl.user.errorMessage}}</div>

		</div>

		<div ng-show='ctrl.user.errorMessage==""'>
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="lead">User Resgistration Form</span>
				</div>
				<div class="formcontainer">
					<form ng-submit="ctrl.submit()" name="myForm"
						class="form-horizontal">
						<label>Register As...</label>
						<div class="container">
							<div class="radio">
								<label class="radio-inline"> <input type="radio"
									name="role" value="student" ng-model="ctrl.user.role">Student
								</label> <label class="radio-inline"> <input type="radio"
									name="role" value="alumni" ng-model="ctrl.user.role">Alumni
								</label> <label class="radio-inline"> <input type="radio"
									name="role" value="employee" ng-model="ctrl.user.role">Employee
								</label>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="id">ID</label>
								<div class="col-md-7">
									<input type="text" ng-model="ctrl.user.id" id="id"
										class="userid form-control input-sm"
										placeholder="Enter your ID" required ng-minlength="3" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="uname">Name</label>
								<div class="col-md-7">
									<input type="text" ng-model="ctrl.user.name" id="name"
										class="username form-control input-sm"
										placeholder="Enter your Name" required ng-minlength="3" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="password">Password</label>
								<div class="col-md-7">
									<input type="text" ng-model="ctrl.user.password" id="password"
										class="password form-control input-sm"
										placeholder="Enter your Password" required ng-minlength="3" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="address"></label>
								<div class="col-md-7">
									<input type="text" ng-model="ctrl.user.address" id="address"
										class="address form-control input-sm"
										placeholder="Enter your Address" required ng-minlength="3" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="email"></label>
								<div class="col-md-7">
									<input type="text" ng-model="ctrl.user.email" id="email"
										class="email form-control input-sm"
										placeholder="Enter your email" required ng-minlength="3" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-2 control-lable" for="mobile"></label>
								<div class="col-md-7">
									<input type="number" ng-model="ctrl.user.mobile" id="mobile"
										class="mobile form-control input-sm"
										placeholder="Enter your mobile no" required ng-minlength="10" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Register"
									class="btn btn-primary btn-sm">
								<button type="button" ng-click="ctrl.reset()"
									class="btn btn-warning btn-sm">Reset Form</button>

							</div>

						</div>

					</form>





				</div>



			</div>



		</div>



<!-- 		<script src="app.js"></script> -->


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    
		<script src="c_user/UserController.js"></script>
		<script src="c_user/UserService.js"></script>
	</div>
</body>
</html>

