 <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>





<body ng-app="myApp" class="ng-cloak">


	<div class="generic-container" ng-controller="UserController as ctrl">
	<div class="generic-container" ng-controller="FriendController as awt">
	 <table class="table table-striped">
  <tr ng-repeat="user in ctrl.users">
    <td>{{user.id }}</td>
    <td><button class ="btn btn-primary" ng-click="awt.sendRequest(awt.friend.friendID)">Send</button></td>
   
  </tr>
  
</table>
</div>
	 
</div>

    
		<script src="c_user/UserController.js"></script>
		<script src="c_user/UserService.js"></script>
		<script src="c_friend/FriendController.js"></script>
		<script src="c_friend/FriendService.js"></script>
</body> 