
<style>
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #cc0000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 2px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>


<body ng-app="myApp" ng-controller="ProfileController" class="ng-cloak">

<!--  -->

 <div class="container">
<!-- <table>
<tbody>
<tr>
<td>
 <a href="viewblogs" class="btn btn-danger btn-block btn-outline">
				&nbsp <b>Blog</b>
			</a>
			</td>
<td>
<a href="allusers" class="btn btn-danger btn-block btn-outline">&nbsp <b>Peoples</b></a>
</td>
<td>
<a href="friends" class="btn btn-danger btn-block btn-outline">&nbsp <b>Friends</b></a>
</td>
<td>
<a href="talk" class="btn btn-danger btn-block btn-outline">&nbsp <b>Group Chat</b></a>
</tbody></table>
  -->
 <div class="col-md-2 ">
       	
				<div ng-if="time<12">
					<img alt="good morning"
						ng-src="resources/images/23.jpg"
						width="50" height="50"> Good Morning
				</div>

				<div ng-if="time>=12 && time<=17">
					<img alt="good morning"
						ng-src="resources/images/26.jpg"
						width="50" height="50"> Good Afternoon
				</div>

				<div ng-if="time>17 && time<24">
					<img alt="good morning"
						ng-src="resources/images/25.jpg"
						width="50" height="50"> <span class="text-muted">Good
						Evening</span>
				</div>        
		</div>
 
 
 
 
 
 <div class="col-md-2 ">
                <a href="viewblogs" class="button" style="vertical-align:middle">&nbsp<span>Blog</span>
			</a>
		</div>         
		
		<div class="col-md-2">

			<a href="allusers" class="button" style="vertical-align:middle">&nbsp<span>People</span></a>
		</div>
		<div class="col-md-2">

			<a href="friends" class="button" style="vertical-align:middle">&nbsp<span>Friends</span></a>
		</div>
		
			<div class="col-md-2">

			<a href="talk" class="button" style="vertical-align:middle">&nbsp<span>Group Chat</span></a>
		</div>
		<div class="col-md-2">

			<a href="forums" class="button" style="vertical-align:middle">&nbsp<span>Forums</span></a>
		</div>
		
		
	</div>


<br><br><br>
		<div class="col-md-3 text-center">
			<div ng-if="userdetails.gender == 'Male'">
				<img ng-src="{{userdetails.Image}}" width="150" height="150"
					id="profilepic"
					onerror="this.src='resources/images/male_dummy.jpg'">
			</div>
			<div ng-if="userdetails.gender == 'Female'">
				<img ng-src="{{userdetails.Image}}" width="150" height="150"
					id="profilepic"
					onerror="this.src='resources/images/101.png'">
			</div>




			<div ng-show="!secondUser">
				<button type="button" class="btn btn-link"
					ng-click="openFileChooser();">Change Picture</button>

				<input type="file" id="trigger" ng-show="false"
					onchange="angular.element(this).scope().setFile(this)"
					accept="image/*" file-model="myFile" />


				<button ng-click="DeletePic();" class="btn btn-danger btn-sm"
					title="delete picture" ng-disabled="picDeleted">
					<i class="fa fa-trash-o fa-1x" aria-hidden="true"></i>
				</button>
			</div>
		</div>
		
		
		<br><br>
		
		 <div class="container">
		 <video width="200" loop autoplay>
  <source src="resources/videos/v2.mp4" type="video/mp4">
  	</video>
 
  <img src="resources/images/52.jpg" class="img-rectangle"
				alt="image" style="height:200px;width:700px;" /> 
	
	
		 
</div>


				<!-- Modal for update user details -->

		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Update Details</h4>
					</div>
					<div class="modal-body">
						<form name="form" action="#">


							<div class="form-group"
								ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">

								<div class="input-group" style="margin-top: 20px">
									<span class="input-group-addon"><i class="fa fa-user "
										aria-hidden="true"></i></span> <input type="text"
										class="form-control" name="username" id="username"
										ng-model="userdetails.username" ng-value=userdetails.username placeholder="enter username"
										required />
								</div>
								<span
									ng-show="form.username.$dirty && form.username.$error.required"
									class="help-block">Username is required</span>
							</div>

							<div class="input-group" style="margin-top: 20px">
								<span class="input-group-addon"><i class="fa fa-phone "
									aria-hidden="true"></i></span> <input type="tel" class="form-control"
									ng-value=userdetails.phone ng-model="userdetails.phone" />
							</div>
							<div class="input-group" style="margin-top: 20px">
								<span class="input-group-addon"><i
									class="fa fa-map-marker fa-lg" aria-hidden="true"></i></span> <input
									type="text" class="form-control" ng-value=userdetails.city
									ng-model="userdetails.city" />
							</div>

							<div class="input-group" style="margin-top: 20px">
								<span class="input-group-addon"><i class="fa fa-calendar"
									aria-hidden="true"></i></span> <input type="text" class="form-control"
									ng-value=userdetails.dob ng-model="userdetails.dob" />
							</div>

							<div class="input-group" style="margin-top: 20px">
								<input type="radio" name="gender" ng-model="userdetails.gender"
									value="Male"> Male &nbsp <input type="radio"
									ng-model="userdetails.gender" name="gender" value="Female">
								Female<br>
							</div>


							<div class="modal-footer" style="margin-top: 20px">
								<input type="submit" ng-click="updateUser()" value="Save"
									class="btn btn-danger" data-dismiss="modal"
									ng-disabled="form.username.$dirty && form.username.$error.required">
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>




	</div>

	<hr />
	
	
	
		<div class="col-md-3 text-center">


			<div style="display: inline-block;">

				<div style="text-align: left">
				
				<div ng-hide="userdetails">
				<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i> <span
					class="sr-only">Loading...</span>
			</div>
					<div>
						<span style="font-size: xx-large;">
							{{userdetails.username}}</span>
					</div>

					<div>
						<i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp
						{{userdetails.email}}
					</div>
					<div>
						<i class="fa fa-phone" aria-hidden="true"></i> &nbsp
						{{userdetails.phone}}
					</div>

					<div>
						<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp&nbsp
						{{userdetails.city}}
					</div>

					<div>
						<i class="fa fa-birthday-cake" aria-hidden="true"></i>&nbsp
						{{userdetails.dob}}
					</div>

					<div ng-if="userdetails.gender == 'Male'">
						<i class="fa fa-mars" aria-hidden="true"></i> &nbsp
						{{userdetails.gender}}
					</div>

					<div ng-if="userdetails.gender == 'Female'">
						<i class="fa fa-venus" aria-hidden="true"></i> &nbsp
						{{userdetails.gender}}
					</div>

					<div ng-show="status">
						<p class="alert alert-info">
							<i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp
							&nbsp{{status}}<br />
						</p>
					</div>

				</div>
			</div>
		</div>
	
		<div class="col-md-3" ng-show="!secondUser">
			<button type="button" class="btn btn-danger btn-sm"
				data-toggle="modal" data-target="#myModal2">Change Password</button>
			<br /> <br />

			<button type="button" class="btn btn-danger btn-sm"
				data-toggle="modal" data-target="#myModal">Update Info</button>

		</div>



		<!-- Modal for update password -->
		<div class="modal fade" id="myModal2" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Update Details</h4>
					</div>
					<div class="modal-body">
						<form name="form2" action="#">


							<div class="form-group"
								ng-class="{ 'has-error': form2.current_password.$dirty && form2.current_password.$error.required }">

								<div class="input-group" style="margin-top: 20px">
									<span class="input-group-addon"><i
										class="fa fa-unlock-alt" aria-hidden="true"></i></span> <input
										type="password" class="form-control" name="current_password"
										id="current_password" placeholder="Enter current password"
										ng-model="userdetails.currentpassword" required />
								</div>
								<span
									ng-show="form2.current_password.$dirty && form2.current_password.$error.required"
									class="help-block">Current Password is required</span>
							</div>

							<div
								ng-if="(userdetails.password != userdetails.currentpassword && form2.current_password.$dirty)">
								<span class="text-danger">Password is Incorrect</span>
							</div>


							<div class="form-group"
								ng-class="{ 'has-error': form2.new_password.$dirty && form2.new_password.$error.required }">

								<div class="input-group" style="margin-top: 20px">
									<span class="input-group-addon"><i class="fa fa-lock"
										aria-hidden="true"></i></span> <input type="password"
										class="form-control" name="new_password" id="new_password"
										placeholder="Enter new password"
										ng-model="userdetails.newpassword" required />
								</div>
								<span
									ng-show="form2.new_password.$dirty && form2.new_password.$error.required"
									class="help-block">New Password is required</span>
							</div>
							<div class="form-group"
								ng-class="{ 'has-error': form2.cnfrm_new_password.$dirty && form2.cnfrm_new_password.$error.required }">

								<div class="input-group" style="margin-top: 20px">
									<span class="input-group-addon"><i class="fa fa-lock"
										aria-hidden="true"></i></span> <input type="password"
										class="form-control" name="cnfrm_new_password"
										id="cnfrm_new_password" placeholder="Re-enter new password"
										ng-model="userdetails.cnfrmnewpassword" required />
								</div>
								<span
									ng-show="form2.cnfrm_new_password.$dirty && form2.cnfrm_new_password.$error.required"
									class="help-block">New Password is required</span>
							</div>


							<div
								ng-if="(userdetails.newpassword != userdetails.cnfrmnewpassword && form2.new_password.$dirty && form2.cnfrm_new_password.$dirty)">
								<span class="text-danger">Password Not Match</span>
							</div>


							<div class="modal-footer" style="margin-top: 20px">
								<input type="submit" ng-click="updatePassword()" value="Save"
									class="btn btn-danger" data-dismiss="modal"
									ng-disabled="form2.current_password.$error.required || form2.new_password.$error.required || form2.cnfrm_new_password.$error.required || userdetails.password != userdetails.currentpassword || userdetails.newpassword != userdetails.cnfrmnewpassword">
							</div>


						</form>
					</div>
				</div>
			</div>
		</div>
	
	
	<div class="container" ng-show="!secondUser">

		<security:authorize access="hasRole('ROLE_ADMIN')">
		<div>
				<h3>
					<i class="fa fa-user-secret" aria-hidden="true"></i>&nbsp
					{{userdetails.role}}
				</h3>

				<button ng-click="getAllUsers()" class="btn btn-primary">Get
					All Users</button>


				<!-- <button ng-click="getAllBlogs()" class="btn btn-primary">Get
				All Blogs</button>  -->


				<table class="table" ng-show="allusers">
					<caption>
						<h3>USERS</h3>
					</caption>

					<thead>

						<tr>
							<th>User Name</th>
							<th>Email</th>
							<th>Phone</th>
							<th>City</th>
							<th>Gender</th>
							<th>Role</th>
							<th>State</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in allusers">
							<td>{{user.username}}</td>
							<td>{{user.email}}</td>
							<td>{{user.phone}}</td>
							<td>{{user.city}}</td>
							<td>{{user.gender}}</td>
							<td>{{user.role}}</td>
							<td>{{user.enabled}}</td>
							<td><button class="btn btn-primary btn-sm"
									ng-click="enableUser(user.userId)" title="Enable">
									<i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
								</button></td>
							<td><button class="btn btn-danger btn-sm"
									ng-click="disableUser(user.userId)" title="Disable">
									<i class="fa fa-ban fa-2x" aria-hidden="true"></i>
								</button></td>
							<td><button class="btn btn-warning btn-sm"
									ng-click="makeAdmin(user.userId)" title="Make Admin">
									<i class="fa fa-user-secret fa-2x" aria-hidden="true"></i>
								</button></td>
						</tr>

					</tbody>
				</table>

			</div>

		</security:authorize>

		<div>

		</div>

</div>
<br><br>

	
<!--  -->
	
</body>