<!DOCTYPE html>
<html ng-app="myApp">
<head>

	<link rel="import" href="head-meta.html">

<style>
.nav{
background-color:#cc0000;
}

hr {
    top:40px;
    height: 10px;
    color: #123455;
    background-color: #cc0000;
     border: none;
}
body {
    background-color: 
    background-repeat: repeat-x;
}


.53jh {
    background-color:#b30000;
    border-bottom: 1px solid #133783;
    min-height: 42px;
}


.back{
    height: 95px;
    min-width: 980px;
    background-color:#b30000;
}


label {
    color: #fff;
    font-weight: normal;
    padding-left: 1px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    border-color: grey;
}
div{
display:block;}

}

</style>

</head>

<script src ="app.js"></script>
<script src ="indexService.js"></script>
<script src ="indexController.js"></script>

<script src ="blogs/BlogService.js"></script>
<script src ="blogs/BlogController.js"></script>

<script src ="forums/ForumService.js"></script>
<script src ="forums/ForumController.js"></script>

<script src ="profile/ProfileService.js"></script>
<script src ="profile/ProfileController.js"></script>

<script src ="friends/FriendService.js"></script>
<script src ="friends/FriendController.js"></script>

<script src ="chat/ChatService.js"></script>
<script src ="chat/ChatController.js"></script>

<script src ="groupchat/GroupChatService.js"></script>
<script src ="groupchat/GroupChatController.js"></script>

<body>

<nav class="navbar navbar-inverse" style="background-color: #cc0000; border: none;" ng-controller="indexController">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <h1 STYLE="COLOR:WHITE;"><img
				src="resources/images/22.png"
				alt="logo" width="50" height="50">AMIGOS</span></h1>
            
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left" ng-show="LoginStatus">
      
      	<li><a href="#/home" style="color: white;">Home</a></li>
      	<li><a href="#/aboutus" style="color: white;">About Us</a></li>
      	
      </ul>
      
      <ul class="nav navbar-nav navbar-left" ng-show="!LoginStatus">
      
      	<li><a href="#/blogs" style="color: white;">Blogs</a></li>
      	<li><a href="#/forums" style="color: white;">Forums</a></li>
      	<li><a href="#/profile" style="color: white;">Profile</a></li>
      	<li><a href="#/friends" style="color: white;">Friends</a></li>
      	<li><a href="#/chat" style="color: white;">Chat</a></li>
      	<li><a href="#/groupchat" style="color: white;">Group Chat</a></li>
      	
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      	<li>
        	<div class="container-fluid">
        	
        		<div class="row" ng-show="LoginStatus">
        		
        			<div class="col-lg-4">
        				<label style="color:white;">Email</label>
        				<input type="text" class="form-control" name="username" placeholder="Enter email" ng-model="LoginEmail">
        	
        			</div>
        			
        			<div class="col-lg-4">
        				<label style="color:white;">Password</label>	
        				<input type="password" class="form-control" name="password" placeholder="Enter password" ng-model="LoginPassword">
        			</div>
        		
        			<div class="col-lg-4">
        				<br>
        				<input type="button" class="btn btn-danger" value="Login" ng-click="Login()">
        			</div>
        		
        		</div>
        		
        		<div class="row" ng-show="!LoginStatus">
        		
        			<div class="col-lg-4">
        				<br>
        				<label style="color:white;">Welcome {{LoginEmail}}</label>
        			</div>
        			
        			<div class="col-lg-4">
        				<br>
        				<button class="btn btn-link" style="color: white;" ng-click="logout()">Log Out</button>
        			</div>
        			
        		</div>
        		
        		
        		
        		<div class="row" ng-show="InvalidLogin">
        		
        			<br>
        		
        			<div class="col-lg-12">
        				<span class="alert alert-danger" style="width: 100%; margin: auto;">Invalid Login</span>
        			</div>
        		
        			<br>
        			<br>
        		</div>
        	
        	</div>
        	
        	
        </li>
      </ul>
    
    </div>
  </div>
</nav>

<div class ="container">
  <div ng-view>
  </div>
</div>  		
		<br>
		<br>
		<br>

		
	<div class="footer" style="position: fixed; bottom: 0px;">
	
	Copyright&copy 2016 - <strong>Amigos</strong>
	
	</div>
		
			
	</body>


</body>
</html>